body {
  background: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.calculator {
  background: #1e293b;
  padding: 20px;
  border-radius: 20px;
  width: 340px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.5)
}

.display {
  background:  #020617;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 15px;
}

.expression {
  font-size: 14px;
  color: #94a3b8;
}

.result {
  font-size: 36px;
  text-align: right;
  color: #22c55e;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

button {
  background: #334155;
  border: none;
  border-radius: 12px;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  color: #f8fafc;
}

button:hover {
  background: #475569;
}

.enter {
  grid-column: span 2;
  background: #22c55e;
  color: #020617;
  font-weight: bold;
}


.enter:hover {
  background: #16a34a;
}
